@font-face {
  font-family: "FuturaLT";
  src: url("../src/fonts/futuralt/FuturaLT-Light.ttf") format("truetype");
}
@font-face {
  font-family: "FuturaLTOblique";
  src: url("../src/fonts/futuralt/FuturaLT-Oblique.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "FuturaLT";
  color: white;
}
